/*
Colors
Purple: #AB82FF
Red from resume: #c0504d;
Light Grey: #F4F4F4
Dark Grey: #aaa
.job-title, .text-muted {
	color: #006699;
}

.job-dates {
	color: #9FB6CD;
}

*/

div.clear {
	clear: both;
}

body {
	background: url(../images/bg/symphony.png) repeat;
	font-family: 'Special Elite', helvetica, sans-serif; /* This is the font used in all non-paragraph text */
	/* The following lines of code fix a known Google Chrome issue which occasionally won't render webfonts -  https://codestag.com/fix-google-chrome-web-fonts-issue/  */
	-webkit-animation-duration: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0.1s;
}


/* The following lines of code fix a known Google Chrome issue which occasionally won't render webfonts -  https://codestag.com/fix-google-chrome-web-fonts-issue/  */
	@-webkit-keyframes fontfix {
		from { opacity: 1; }
		to { opacity: 1; }
	}


p {
	font-family: 'Open Sans', sans-serif;
}

/* Links */
a {
	color: #c0504d; /* This sets the color of all links on site */
	transition: all 0.5s ease;
}

a:hover {
	text-decoration: none;
	color: silver;
}

.hidden {
	visibility: hidden;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 30px 0;
}

div.div-height-25 {
	height: 25px;
}
div.div-height-75 {
	height: 75px;
}

/********dividers*********/
.divided-10{
    height: 10px;
    width:100%;
}
.divided-20{
    height: 20px;
    width:100%;
}
.divided-30{
    height: 30px;
    width:100%;
}
.divided-40{
    height: 40px;
    width:100%;
}

.divided-50{
    height: 50px;
    width:100%;
}
.divided-60{
    height: 60px;
    width:100%;
}
.divided-70{
    height: 70px;
    width:100%;
}
.divided-80{
    height: 80px;
    width:100%;
}

/******************************************
Navigation
*******************************************/

.navbar {
	/*border-bottom: 1px solid #AAAAAA;*/
	border-bottom: none;
	background-color: #F4F4F4;
	opacity: 0.8;
	font-family: 'Special Elite', helvetica, sans-serif;
	transition: all 0.5s ease;

}

.navbar .container .collapse {
	/*This removes space around the nav links on the right and left*/
	margin: 0;
	padding: 0;
}

/* sets navbar link text color */
.navbar .container .collapse .nav > li > a,
.navbar .container .collapse .nav > li > ul > li > a {
	color: black;
	text-align: center;
}

	/* set hover and focus to lightgrey */
	.navbar .nav > li > a:focus {
		color: black;
		text-decoration: underline;
		background-color: #c0504d;
	}
	/*.navbar .nav > li > a:hover {
		color: black;
		text-decoration: underline;
		background-color: #F4F4F4;
	}
*/
.active {
	background-color: #c0504d !important;
	/* this changes the background color of an "active" nav menu item */
}


/* These control the styling of the "Charlie Gigante" logo */
.navbar-brand {
	font-size: 1.2em;
	font-weight: lighter;
	margin: 0;
	font-family: 'Special Elite', helvetica, sans-serif;
	color: black;
}

.navbar-header .navbar-brand:hover,
.navbar-header .navbar-brand:focus {
    color: #AAAAAA;
}

.icon-bar {
	border: 1px solid black;
}


/****************************************** 
Carousel
*******************************************/
#myCarousel { 
	padding-top: 50px; /* This pushes the carousel 50px below the top of the screen so that it bumps up against the navbar*/
}

/* This centers the images in the carousel */
.carousel-inner .item img {
    margin: 0 auto;
    width: 100%;
}

.carousel-caption {
	font-family: 'Special Elite', helvetica, sans-serif;
	max-width: 300px;
	margin: 0 auto;
}

.btn-default {
	border: 3px solid #c0504d;
	background-color: #F4F4F4;
	border-radius: 10px;
	transition: all 1s ease;
}

	.btn-default:hover > .carousel-btn-text {
		border: 3px solid #c0504d;
		background-color: #F4F4F4;
	}

.carousel-btn-text {
	padding: 15px;
	margin: 0;
	color: #c0504d;
	transition: all 0.75s ease;
}

	.carousel-btn-text:hover {
		padding: 15px;
		margin: 0;
		color: #c0504d;
	}


/****************************************** 
Main/Index page
*******************************************/

.featurette-divider {
	margin: 100px 0 25px 0;
}


.featurette-main1, .featurette-main2, .featurette-main3 {
	background-color: clouds;
	border: 1px dotted silver;
}


.featurette-main1, .featurette-main2, .featurette-main3 {
	height: 260px;
	padding: 20px;
	border-radius: 50px;
	font-family: 'Special Elite', helvetica, sans-serif;
	color: black;
	max-width: 400px;
	margin: 0 auto;
}

	.featurette-main1>p, .featurette-main2>p, .featurette-main3>p {
		font-size: 1.25em;
	}

	.featurette-main1:hover, .featurette-main2:hover, .featurette-main3:hover {
		opacity: 0.7;
	}

/******************************************
Padding on top of each main section
This prevents the section headers from
being hidden under the nav bar.
*******************************************/
#work, #interests, #charities-section, #contact-section {
	padding-top: 75px;
}

/******************************************
About Me
*******************************************/
.about-me-main {
	background-color: transparent;
	padding: 20px;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bio { /* This is the paragraph styling on the About Me page*/
	font-size: 1.25em;
}

/* This is the "About" image */
#profile-pic {
	max-width: 150px;
	border-radius: 50px;
	display: block;
	margin: 0 auto;
	/*borders arounpadding: 2px;
	border: 1px solid #AAAAAA;
	background-color: clouds;d image:*/
	/**/
}

/*#about-me-pic {
	float: left;
	max-width: 300px;
	border-radius: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	border-radius: 50px;
}*/

/*#experience {
	text-align: right;
}*/

.well {
	background-color: #F4F4F4;
	border: 2px solid #AAAAAA;
	border-radius: 25px;
}

 .company {
 	color: #c0504d;
 }

.job-title, .text-muted {
	color: #404040;
}

.job-dates {
	color: #aaa;
}

.fontchange-p {
	font-family: 'Special Elite', helvetica, sans-serif;
}

/******************************************
Work
*******************************************/

.img-work-logo { /* these are the main LOGO images on the work page */
		clear: both;
		display:block;
		margin-top: 25px;
		/*margin-bottom: 25px;*/
		max-width: 60%;
}

.img-work { /* these are the main (non logo) images on the work page */
		clear: both;
		display:block;
		margin: 0 auto;
		margin-top: 25px;
		/*margin-bottom: 25px;*/
		max-width: 75%;
}


.jumbotron {
	background-color: transparent;
	padding-top: 0;
	padding-bottom: 0;
}
	.jumbotron-text {
		line-height: 1.5em;
	}

.btn-success {
	margin-bottom: 20px;
}

.panel-title {
	font-family: 'Open Sans', sans-serif;
}

.featurette-heading {
	/*margin-bottom: 10px;*/
	/*color: #c0504d;*/
}

.featurette-heading-custom {
	margin-bottom: 50px;
	font-size: 3em;
	/*color: #c0504d;*/
}

.shmap-links {
	width: 100%;
	padding: 25px;
}

.app-badge {
	max-width: 150px;
}
	.app-badge:hover {
		opacity: 0.7;
	}

.superBowlHeader {
	font-size: 1em;
}

.superBowlBold {
	font-weight: bold;
	color: #9FB6CD;
}


/*This div holds all of the website examples.*/
#websites {
	padding: 10px 20px;
}

/* This pushes down the web development section anchor so it isn't obscured under the nav bar */
section:before {
	display: block;
	content: " ";
	margin-top: -60px;
	height: 60px;
	visibility: hidden;
}


/*web dev images*/
.img-web-dev {
	width: 200px;
	border: 1px dotted #c0504d;
	float: left;
}

ul.img-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*text-align: center;*/
}

ul.img-list li {
	display: inline-block;
	height: 200px;
	margin: 0 1em 1em 0;
	position: relative;
	width: 200px;
}

span.text-content {
	background: rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
	display: table;
	height: 200px;
	left: 0;
	position: absolute;
	top: 0;
	width: 200px;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

ul.img-list li:hover span.text-content {
	opacity: 1;
}

span.text-content span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}

/******************************************
Interests
*******************************************/
.jumbotron-interests {
	max-height: 100px;
	padding-top: 0;
	padding-bottom: 0;
}

/* Image stylings with drop shadows */
.img-about {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	-webkit-box-shadow: 0 8px 6px -6px black;
		-moz-box-shadow: 0 8px 6px -6px black;
			box-shadow: 0 8px 6px -6px black;
}

.img-small {
	max-width: 100%;
	-webkit-box-shadow: 0 8px 6px -6px black;
		-moz-box-shadow: 0 8px 6px -6px black;
			box-shadow: 0 8px 6px -6px black;
}

.img-screenshot {
	max-width: 30%;
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
}

.img-small-carousel {
	max-height: 300px;
	margin: 0 auto;
}

/* This adds a buffer between links and the carousel in full page mode.*/
#index-row {
	margin-top: 60px;
}

li {
	list-style: none;
}

.input-xxlarge {
	min-height: 150px;
}

/* This centers all of the items in the row */
.marketing .col-lg-4 {
	text-align: center;
}

#bandcamp-div {
	
}
	#bandcamp {
		margin: 0 auto;
		display: block;
	}


/******************************************
Contact Form
*******************************************/
#contact-section {
	margin: 0 20px;
}

#contact {
    background: transparent;
    border-radius: 10px;
    margin-top: 50px;
    opacity: 0.95;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.contact-div {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contactForm {
    padding-left: 20px;
    max-width: 475px;
}

.form-control {
    max-width: 450px;
    margin-left: 0;
}

.control-group {
    width: 100%;
}

div.alert.alert-success {
	max-width: 85%;
}

#contactImage {
	margin-top: 50px;
	width: 100%;
	-webkit-box-shadow: 0 8px 6px -6px black;
		-moz-box-shadow: 0 8px 6px -6px black;
			box-shadow: 0 8px 6px -6px black;
}

/******************************************
Footer
*******************************************/

footer {
	margin-top: 50px;
	padding: 30px 10px;
	/*border-top: 3px solid #aaa;*/
}

	footer h6 {
		text-align: center;
	}

/* Glyph, by Harry Roberts */
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #c0504d;
    text-align: center;
}
hr.style-eight:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: transparent;
}

.socialButtons { /* This is the DIV which contains the social buttons */
	width: 100%;
	text-align: center;
	padding-top: 50px;
}

	.fb-div, .followTwitter {
		padding-top: 6px;
		margin: 0 auto;
	}

	.googlePlus {
		padding-top: 6px;
		margin: 0 auto;
	}




/* Media Queries*/

@media all and (max-width:400px) {
	#myCarousel h1 {
		font-size: 2em;
	}
	#myCarousel p {
		font-size: 1em;
	}
	#profile-pic {
		float: left;
		max-width: 100%;
	}
	.navbar-collapse {
		width: 100%;
	}
}

@media all and (min-width:401px) {
	#myCarousel h1 {
		font-size: 2em;
	}
	#myCarousel p {
		font-size: 1em;
	}
	.navbar-collapse {
	float: left;
	}
}

@media all and (min-width:600px) {
	#myCarousel h1 {
		font-size: 2.5em;
	}
	#myCarousel p {
		font-size: 1.5em;
	}
	.navbar-nav li {
		font-size: .8em; /* This ensures that when the browser width is narrowed, the nav links will shrink so they don't fall beneath the brand logo */
	}
}

@media all and (max-width:768px) {
	.navbar-collapse {
		width: 100%;
	}
	.img-work .img-work-logo {
		margin-bottom: 25px;
	}
}


/*@media all and (min-width:995px) {
	.navbar-nav li {
		font-size: 1em;
	}
	.navbar-collapse {
		float: right;
	}
	}
	.container {
		width: 80%;
	}
}*/